* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  height: 50vw;
  width: 50vw;
  background-color: rgba(221, 221, 221, 0.784);
  border-radius: 5px;
}
.heading {
  border-radius: 3px;
  height: 7vw;
  width: 100%;
  padding: 2vw 2vw;
  border-bottom: 1px solid black;
  background-color: rgb(143, 190, 143);
  color: aliceblue;
}
.heading h1 {
  font-size: 2vw;
}
.heading h2 {
  font-size: 1vw;
}
.content .name input {
  height: 2vw;
  width: 100%;
  padding: 1.5vw 1vw;
  font-size: 1vw;
}
.content {
  padding: 2vw 2vw;
}
.content .email input {
  height: 2vw;
  width: 100%;
  padding: 1.5vw 1vw;
  font-size: 1vw;
}
.content .name,
.email {
  margin: 1vw 0vw 2vw 0vw;
}
textarea {
  height: 10vw;
  width: 100%;
}
select {
  height: 3vw;
  width: 100%;
}
button {
  padding: 0.7vw 2vw;
  margin-top: 1vw;
  border-radius: 4px;
  background-color: rgb(143, 190, 143);
  color: aliceblue;
  border: none;
  font-size: 1vw;
}
@media (max-width: 600px) {
  .form {
    height: 110vw;
    width: 80vw;

    border-radius: 5px;
  }
  .heading {
    height: 15vw;
    padding: 2vw 3vw;
  }
  .heading h1 {
    font-size: 5vw;
  }
  .heading h2 {
    font-size: 2vw;
    margin-top: 1vw;
  }

  .content .name input {
    height: 7vw;
    width: 100%;
    padding: 1.5vw 1vw;
    font-size: 2vw;
  }
  .content .email input {
    height: 7vw;
    width: 100%;
    padding: 1.5vw 1vw;
    font-size: 2vw;
  }
  textarea {
    height: 30vw;
    width: 100%;
  }
  select {
    height: 6vw;
    width: 100%;
  }
  button {
    padding: 2vw 34vw;
    margin-top: 5vw;
    border-radius: 4px;
    background-color: rgb(143, 190, 143);
    color: aliceblue;
    border: none;
    font-size: 3vw;
  }
}
